<!DOCTYPE html>
<html>
<head>
	<title>Zipping</title>
</head>
<body>
	<div>
		<h3>Zipping Progress</h3>
		<div id="progress-text">0</div>
	</div>
	
	<script>
	let studyId = "{{ uuid }}";
	function pollProgress() {
		fetch(`/progress/${studyId}`)
			.then(res => res.json())
			.then(data => {
				let prog = data.progress;
				if (data.status === "downloading"){
					document.getElementById('progress-text').innerText = prog;
				}else if (data.status === "done"){
					window.location.replace(`../done/${studyId}`);
				}else{
					window.location.replace(`../error/${data.status}/${studyId}`);
				}
				setTimeout(pollProgress, 1000);
			});
	}
	pollProgress();
	</script>
</body>
</html>
